@import "normalize";
@import "settings";
@import "bootstrap-overrides";
@import "nav";
@import "section";

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding-top: 50px;
	position: relative;
}

@media (min-width: 768px) {
	.row > .col-sm-12 {
		margin-left: -15px;
	}
}
@media (max-width: 767px) {
    .profile .image, .funding .funding-date {
        text-align:left;
    }
    .navbar-nav {
		margin: 0px -15px;
	}
	.recent-news {
		margin-top: 20px;
	}
    nav.navbar-collapse .navbar-nav > li > a {
    	top: 0;
		margin: 0px;
		//border-color: rgba(0,0,0,0) !important;
		padding: 20px 10px;
		border-left: none;
		border-right: none;
		border-top: 1px solid #333;
		border-bottom: none;
		span:nth-child(1) {
			display:inline-block;
			margin-right:7px;
			margin-bottom: 0px;
			font-size: 14px;
			line-height: 20px;
			position: relative;
			top: 0px;
			vertical-align: middle;
		}
		span:nth-child(2) {
			line-height: 20px;
			vertical-align: middle;
		}
		&.selected, &:hover, &:active {
			color: #fff !important;
			span:nth-child(1) {
				color: #fff;
			}
		}
		&.nav-home {
			&.selected, &:hover, &:active {
				background-color: $green !important;
			}
		}
		&.nav-people {
			&.selected, &:hover, &:active {
				background-color: $purple !important;
			}
		}
		&.nav-publications {
			&.selected, &:hover, &:active {
				background-color: $red !important;
			}
		}
		&.nav-research {
			&.selected, &:hover, &:active {
				background-color: $yellow !important;
			}
		}
		&.nav-teaching {
			&.selected, &:hover, &:active {
				background-color: $brown !important;
			}
		}
		&.nav-software {
			&.selected, &:hover, &:active {
				background-color: $blue !important;
			}
		}
	}
}